{
  "extends": [
    "react-app", 
    "airbnb", 
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"],
  "plugins": ["import", "jsx-a11y", "react", "@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "import/no-named-as-default": 0,
    "react/static-property-placement": [
      "error",
      "property assignment",
      {
        "childContextTypes": "static public field",
        "contextTypes": "static public field",
        "contextType": "static public field",
        "defaultProps": "static public field",
        "displayName": "static public field",
        "propTypes": "static public field"
      }
    ],
    "react/state-in-constructor": ["error", "never"],
    "react/react-in-jsx-scope": "off",
    "no-console": [1, { "allow": ["error"] }],
    "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
    ],
    "react/prop-types": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "directory": "./tsconfig.json"
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "ignorePatterns": ["cypress/*"]
}
